body{
  background-color: rgb(237, 242, 237);
}
h1 {
  font-size: 3rem; 
  color: rgb(51, 216, 14);
}
p {
  color: rgb(149, 5, 5);
  font-size: large;
}
.homeimage{
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
}

