body{
    background-image: url('../images/bg\ 2.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-thumbnail {
    padding: 2.25rem;
    background-color: #fff;
    border: 45px solid brown; 
    border-radius: 21.25rem;
    max-width: 100%;
    height: 50vh;
}
p {
    color: white;
    font-size: large;
}
h3{
    text-align: center;
}
